[credential]
	helper = store
[user]
	name = Ben Cordero
	email = ben.cordero@ly.st
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
  f = fetch --all
  l = log --show-signature --patch --stat
  m = merge --verify-signatures
  sign = commit --amend -S
[rerere]
	enabled = true
