[credential]
 helper = store
[user]
  name = Ben Cordero
  email = bencord0@condi.me
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  d = branch -d
  f = fetch --all
  m = merge --verify-signatures
  l = log --show-signature --patch --stat --left-right
  lr = log --show-signature --patch --stat --left-right --reverse
  po = push origin upstream/master:master
  r = rebase upstream/master
  sign = commit --amend -S
[rerere]
  enabled = true
