[credential]
 helper = store
[user]
  name = Ben Cordero
  email = bencord0@condi.me
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  d = branch -d
  f = fetch --all
  ff = merge --ff-only
  m = merge --verify-signatures
  p = push -f
  l = log --show-signature --patch --stat --left-right
  lr = log --show-signature --patch --stat --left-right --reverse
  ls = log --stat --reverse
  po = push origin upstream/master:master
  r = rebase upstream/master
  sign = commit --amend -S
[rerere]
  enabled = true
[sendemail]
  smtpserver = citadel.condi.me
  smtpuser = bencord0
  smtpencryption = tls
  smtpserverport = 587
[init]
	defaultBranch = production
[pull]
	ff = only
[gui]
	fastcopyblame = true
	fontui = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Nimbus Mono L\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
